<html>
<style>
  h1 {
    width:500px;
    margin: 0 auto;
    color:#008000;
    text-align:center;
    padding:12px 10px;
}
a {
  background-color: red;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  padding:12px 10px;
}
a:hover{
  background-color: #555;

}

</style>
<body>
 {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                    <h1>{{ message }}</h1>
               {% endfor %}
         {% endif %}
  {% endwith %}
  <a href="/add_mark">Click here to add another student Mark</a>
</body>


</html>

