<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  type="text/css" href={{url_for('static',filename='css/1.css')}}>
</head>

<body>
    <div class="logins">
        <h1>Welcome Admin</h1>
        <h1 style="color:#ff0000">
            {% if error %}
            {{error}}
            {% endif %}
        </h1>
        <form method="post" action="/admin_login_data">
          <p><input type="text" name="username"  placeholder="Username" ></p>
          <p><input type="password" name="password" placeholder="Password" ></p>
          <p class="submit"><input type="submit" name="commit" value="Login"></p>
        </form>
      </div>
</body>
</html>