<!DOCTYPE html>
<html lang="en">
<title>Patient Login</title>
<head>
    <link rel="stylesheet"  type="text/css" href={{url_for('static',filename='css/1.css')}}>
</head>
<body>
    <div class="logins">
        <h1 style="color:#29a329">Please Login </h1>
        <h1 style="color:#ff0000">
            {% if error %}
            {{error}}
            {% endif %}
        </h1>
        <form method="post" action="/pt_login_data">
          <p><input type="number" name="pt_id"  placeholder="Please enter your patient id" ></p>
          <p><input type="text" name="pt_name"  placeholder="Please enter your name" ></p>
          <p class="submit"><input type="submit" name="commit" value="Login"></p>
        </form>
      </div>
</body>
</html>